#game{
    display: grid;
}

.gridUnit{
    width: 30px;
    height: 30px;
    display: block;
    border: 1px solid black;
    cursor: pointer;
}

.default{
    background-color: white;
}

.start{
    background-color: green;
}

.end{
    background-color: red;
}

.wall{
    background-color: grey;
}

.passedPath{
    background-color: aqua !important;
}